@font-face {
    font-family:'TT Lakes';
    src:url(../fonts/TTLakes-Regular.woff) format(woff);
        //url(../fonts/TTLakes-Regular.ttf) format(ttf),
       // url(../fonts/TTLakes-Regular.eot) format(eot);
    font-weight: 200;
    font-style: normal;
}

@import url(https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css);

@import '../blocks/header-navigation/header-navigation.scss';
@import '../blocks/services/services.scss';
@import '../blocks/aside-menu/aside-menu.scss';
@import '../blocks/brands/brands.scss';
@import '../blocks/repair/repair.scss';
@import '../blocks/footer/footer.scss';
@import '../blocks/price/price.scss';
@import '../blocks/aside-call/aside-call.scss';
@import '../blocks/aside-status/aside-status.scss';
@import '../blocks/reset.scss';
//@import '../fonts/stylesheet.scss';

* body{
    margin:0;
    padding:0;
    font-family:'TT Lakes';
    font-size:1.7vh;
    
}
li {
    list-style-type:none;
}
button {
    outline:none;
    border:0;
    background:transparent;
}
a {
    text-decoration:none;
}
@media (min-width: 1366px) {
    body {
        display:grid;
        grid-template-areas:"aside header"
                            "aside main"
                            "aside footer"
    }
}

header {
    grid-area:header;
}
main {
    grid-area:main;
}
footer {
    grid-area:footer;
}
.aside-menu {
    grid-area:aside;
}

.overlay {
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:5;
    background-color:rgba(255,255,255,0.9);
    display:none;
}
.overlay_aside {
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:11;
    background-color:rgba(255,255,255,0.9);
    display:none;
}
.overlay_status {
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:11;
    background-color:rgba(255,255,255,0.9);
    display:none;
}
#menu {
    z-index:3;
    background-color:#F8F8F8;
}

.overlay--active {
    position:fixed;
    background-color:#fff;
    opacity:0.96;
    transition:all 0.5s ease-in-out;
}
.hidden {
    display:none;
}
